In [1]:
#! unzip medicaldata.zip

Archive:  medicaldata.zip
  inflating: data.csv

In [2]:
ls

EDA.ipynb                           data.csv
GSE22220-GPL6098_series_matrix.txt  import_data.ipynb
GSE47051_series_matrix.txt          medicaldata.zip
README.md

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('data.csv')

In [5]:
data.head()

,id,gender,dob,zipcode,employment_status,education,marital_status,children,ancestry,avg_commute,daily_internet_use,available_vehicles,military_service,disease
0,Amelia Nixon,female,1944-03-09,89136,retired,bachelors,married,1,Portugal,13.38,2.53,2,no,hypertension
1,Clara Hicks,female,1966-07-02,94105,employed,phd/md,married,4,Sweden,15.16,6.77,2,no,endometriosis
2,Mason Brown,male,1981-05-31,89127,employed,masters,married,2,Germany,23.60,3.63,1,no,prostate cancer
3,Michael Rice,male,1945-02-13,44101,retired,bachelors,married,2,Denmark,19.61,5.00,3,no,multiple sclerosis
4,Eleanor Ritter,female,1939-09-03,89136,retired,masters,married,3,Austria,36.55,7.75,1,no,skin cancer

In [6]:
label = data['disease']

In [8]:
features = data.drop('disease', axis=1)

In [9]:
! gunzip clinvar.vcf.gz

In [10]:
ls

EDA.ipynb                           clinvar_20190527.vcf.gz
GSE22220-GPL6098_series_matrix.txt  data.csv
GSE47051_series_matrix.txt          import_data.ipynb
README.md                           medicaldata.zip
clinvar.vcf

In [13]:
import csv

raw_data = []
with open('clinvar.vcf', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        raw_data.append(row)

In [16]:
reviews = pd.DataFrame(raw_data)

In [17]:
reviews.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,##fileformat=VCFv4.1,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,##fileDate=2019-05-27,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,##source=ClinVar,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,##reference=GRCh37,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,"##ID=<Description=""ClinVar Variation ID"">",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None